main {
    /* margin: 25px; */
    text-align: center;
}

h2 {
    margin: 70px 0;
    font-size: 40px;
    font-family: "Caesar Dressing", system-ui;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
}

img {
    box-sizing: content-box;
    width: 75%;
    border-radius: 20px;
}