*::before, *::after {
    box-sizing: border-box;
}

body {
    max-height: 100vh;
    margin: auto 0;
}

p, ul, h2, h3 {
    text-align: center;
}

p, ul {
    margin: 25px;
}

h2, h3 {
    margin: 0;
    padding: 25px;
    font-size: 40px;
    font-family: "Caesar Dressing", system-ui;
    font-weight: 600;
    font-style: normal;
}

h3 {
    font-size: 35px;
}

p, li {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal; 
    font-size: 25px;
    line-height: 1.5;
}

/* Commun à Cyberpunk et RDR2 */
.section-1-rdr2, .titre-h2, .section-2-pages-jeux, .contenu-jeux {
    color: #ffffff;
}

/* Première section de la page */
.section-1-cyberpunk, .section-1-rdr2 {
    background-size: cover;
    background-position: center;
    height: 1080px;
    display: flex;    
}

.description-background-cyberpunk, .informations-background-cyberpunk, 
.description-background-rdr2, .informations-background-rdr2 {
    width: 50%;
    padding: 25px;
}

.description-background-cyberpunk, .informations-background-cyberpunk, 
.informations-background-rdr2 {
    display: flex;
    justify-content: center;
}

/* Cyberpunk */
/* Première section de la page */
.section-1-cyberpunk {
    background-image: url(../images/pages-jeux/cyberpunk-2077/cyberpunk-background.jpg);
    max-height: 100vh;
}

.description-background-cyberpunk {
    flex-direction: column;
    padding-right: 35%;
}

.informations-background-cyberpunk {
    align-items: center;
}

/* RDR 2 */
/* Première section de la page */
.section-1-rdr2 {
    background-image: url(../images/red-dead-redemption-2.jpg);
}

.informations-background-rdr2 {
    align-items: end;
}

/* Deuxième section des pages Cyberpunk et RDR2 */
.section-2-pages-jeux {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    width: 100%;
    padding: 100px 0 100px;
    align-items: center;
}

.container-pages-jeux {
    display: flex;
}

.contenu-jeux {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.texte-section-2-pages-jeux {
    font-size: 25px;
    word-spacing: 1px;
}

.contenu-jeux-videos {
    padding: 25px;
    align-content: center;
}

/* Galeries Images */
.galerie-cyberpunk {
    background-color: #fcee0a;
}

.galerie-rdr-2 {
    background-color: #c00;
}

.galerie {
    display: flex;
    flex-wrap: wrap;
    padding: 25px 25px 100px;
    overflow: hidden;
}

.galerie-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.galerie-images div {
    overflow: hidden;
    border-radius: 25px;
}

img {
    height: 100%;
    width: 100%;
    transition:2s
}   

img:hover {
    transform: scale(1.25);
}