*::before, *::after {
    box-sizing: border-box;
}

body {
    max-height: 100vh;
    margin: auto 0;
    /* box-sizing: content-box; */
    max-width: 1920px;
}

.cyberpunk-section-1 {
    background-image: url(../images/pages-jeux/cyberpunk-2077/cyberpunk-background.jpg);
    background-size: cover;
    background-position: center;
    height: 1080px;
    display: flex;
}

.rdr2-section-1 {
    background-image: url(../images/red-dead-redemption-2.jpg);
    background-size: cover;
    background-position: center;
    height: 1080px;
    display: flex;
}

.cyberpunk-description-background, .cyberpunk-informations-background, .rdr2-description-background, .rdr2-informations-background {
    width: 50%;
    padding: 25px;
}

.rdr2-description-background, .rdr2-informations-background {
    color: #ffffff;
}

.rdr2-informations-background {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    align-content: flex-end;
    align-self: flex-end;
    /* text-align: center; */
}

.cyberpunk-description-background p, .cyberpunk-informations-background ul {
    text-align: center;
}

.cyberpunk-informations-background ul {
    align-self: center;
}

.cyberpunk-informations-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cyberpunk-description-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 35%;
}

p, ul {
    margin: 25px;
}

h2, h3 {
    margin: 0;
    padding: 25px;
    font-size: 40px;
    font-family: "Caesar Dressing", system-ui;
    font-weight: 600;
    font-style: normal;
}

p, li {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal; 
    font-size: 25px;
    line-height: 1.5;
}

.section-cyberpunk-2 {
    display: flex;
    padding: 100px 0 100px;
    background-color: #000000;
}

.section-cyberpunk-2 div {
    flex: 1;
    width: 50%;
}

.titre-section-cyberpunk-2, .texte-section-cyberpunk-2 {
    color: #ffffff;    
    margin: 0;
    padding: 25px;
}

.titre-section-cyberpunk-2 {
    font-size: 35px;
}

.texte-section-cyberpunk-2 {
    font-size: 25px;
    word-spacing: 1px;
}

.night-city, .nouveautes {
    align-content: start;
    text-align: center;
}

.video-1, .video-2 {
    padding: 25px;
    align-content: center;
}

.galerie-cyberpunk-3 {
    background-color: #fcee0a;
}

.galerie {
    display: flex;
    flex-wrap: wrap;
    padding: 25px 25px 100px;
    overflow: hidden;
}

.galerie-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.galerie-images div {
    /* height: 100%;
    width: 100%; */
    overflow: hidden;
    border-radius: 25px;
}

img {
    height: 100%;
    width: 100%;
}   

img:hover {
    transform: scale(1.25);
}