body {
    background-color: #F5F0D7;
}

nav {
    background-color: #333;
    display: flex;
    justify-content: center;
}

nav a, nav p {
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

nav a:hover{
    background-color: #ddd;
    color: black;
}

main {
    overflow: hidden;
    text-align: center;
}

h1 {
    font-family: "Ceviche One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 75px;
    padding-top: 100px;
    text-align: center;
}

h2 {
    margin: 70px 0;
    font-size: 40px;
    font-family: "Caesar Dressing", system-ui;
    font-weight: 400;
    font-style: normal;
}

p {
    text-align: center;
    white-space: break-spaces;
    line-height: 1.5;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
    font-size: 25px; 
    padding: 100px; 
}

a {
    text-decoration: none;
    color: black;
}

img {
    box-sizing: content-box;
    width: 75%;
    border-radius: 20px;
    width: 1080px;
}

footer {
    padding-top: 100px;
}