*::before, *::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    margin: auto 0;
    background-color: #F5F0D7;
}

main {
    overflow: hidden;
    text-align: center;
}

h1 {
    font-family: "Ceviche One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 75px;
    padding-top: 100px;
    text-align: center;
}

h2 {
    margin: 70px 0;
    font-size: 40px;
    font-family: "Caesar Dressing", system-ui;
    font-weight: 400;
    font-style: normal;
}

p {
    text-align: center;
    white-space: break-spaces;
    line-height: 1.5;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
    font-size: 25px; 
    padding: 100px;
}

.images-accueil {
    padding-bottom: 100px;
}

a {
    text-decoration: none;
    color: black;
}

img {
    box-sizing: content-box;
    width: 75%;
    border-radius: 20px;
    width: 1080px;
}

/* Responsive pour Tablette */
@media screen and (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;    
    }

    p {
        font-size: 20px;
    }

    img {
        width: 95%;
    }
}

/* Responsive pour Mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 22px;    
    }

    p {
        font-size: 18px;
    }

    img {
        width: 90%;
    }
}
